.deviceDiv{
    width: 220px;
    border: 1px solid black;
}

.timerDiv{
    position: relative;
    overflow: hidden;
}

.timerDiv input{
   float: left;
}

.timerDiv div{
    float: left;
    padding: 5px;
}

.timerRadio{
    float: left;
}

.timerlbl {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hiddenListDev{
    display: none;
}

.selectedItem{
    background-color: chartreuse;
}