<link rel="stylesheet" href="./style.css" />
<div class="deviceDiv" id="">
    <p class="toString">device.toString()</p>
    <p><input type="radio" name="power" value="true">PowerOn</p>
    <p><input type="radio" name="power" value="false" checked="checked">PowerOff</p>
    <div class="timerDiv">
        <p>Timer</p>
        <input type="number" name="timerNumber" size="3" min="1" max="10" value="1">
        <div>
            <p><input type="radio" name="powerTimer" value="true" class="timerRadio" checked="checked">PowerOn</p>
            <p><input type="radio" name="powerTimer" value="false" class="timerRadio">PowerOff</p>
        </div>
        <button type="button" class="timerButton">OK</button>
    </div>

</div>